{
    "presets": ["react-native"],
    "plugins": [
        ["module-resolver", {
            "root": ["./"],
            "extensions": [".js", ".ts", ".tsx", ".ios.js", ".android.js", ".png"]
        }]
    ],
    "sourceMaps": "both"
}